.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.canvas-wrapper {
    height: 100vh;
    width: 80%;
    height: 65%;
    min-width: 580px;
    min-height: 470px;
    max-width: 1000px;
    max-height: 810px;
}
body {
    background-color: #ffffff;
}

.start-content {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'ubuntu-medium';
    src: url('res/fonts/ubuntu-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'bungeeSpice';
    src: url('res/fonts/BungeeSpice-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'chewy';
    src: url('res/fonts/Chewy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'monofett';
    src: url('res/fonts/Monofett-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'nabla';
    src: url('res/fonts/Nabla-Regular-VariableFont_EDPT.ttf') format('truetype');
}

@font-face {
    font-family: 'roadRage';
    src: url('res/fonts/RoadRage-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'titanOne';
    src: url('res/fonts/TitanOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'wallpoet';
    src: url('res/fonts/Wallpoet-Regular.ttf') format('truetype');
}